.layout-canvas {
    top: 100px;
    position: absolute;
    left:0;
    width: 100%;
}
.sequence-view {
    border: 2px solid green;
}

.sequence-row {
    border: 0px solid red;
}

.note {
    border: 1px solid green;
    width: 24px;
    height: 24px;
    padding:0;
    margin:1px;
    box-sizing: border-box;
}