/* ======== default colors ============= */
html {
    --tool-bg: #aaaaaa;
    --tool-fg: #333;
    --content-bg: #dddddd;
    --focus-bg: #ffffff;
    --active-bg: aquamarine;
    --font-color: #333333;
    --spacing: 1.0rem;
}

/* ============= dialog ============ */
.dialog-container {
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    display: none;
    background-color: rgba(255,255,255,0.5);
    flex-direction: column;
    align-items: center;
}
.dialog-container.visible {
    display: flex;
}
.dialog-container .dialog {
    margin: 10vh 0 0 0;
    max-width: 80vw;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(50,50,50,0.5);
    display: flex;
    flex-direction: column;
}

.dialog header {
    background-color: var(--tool-bg);
    padding: 0.5em;
}
.dialog .body {
    flex: 1.0;
    overflow: auto;
}
.dialog footer {
    background-color: var(--tool-bg);
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}
